Projects/project_3_media_agent/n8n/media_agent_workflow_updated.json
{
  "name": "Media Inclusivity Research Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1"
            }
          ]
        }
      },
      "id": "35ca2dbc-408c-47ae-918e-3755cc72c554",
      "name": "Schedule Trigger Monday 6am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3088,
        2240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const companies = ['Al Jazeera English','The Guardian','NPR','New York Times'];\nreturn companies.map(c => ({ json: { company: c, focus: 'all', triggered_by: 'schedule' } }));"
      },
      "id": "a01c714f-362f-4d82-85a2-cab9abc832a5",
      "name": "Split Into 4 Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2848,
        2240
      ]
    },
    {
      "parameters": {
        "path": "a4208184-44bf-48fc-8a9d-1889cf0ae6f0",
        "formTitle": "Media Diversity Watch",
        "formDescription": "Run an on-demand inclusivity analysis on any major news outlet. The agent searches live news, RSS feeds, and our research knowledge base to produce a scored, evidence-based report.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Company Name",
              "placeholder": "e.g. Al Jazeera English, The Guardian, NPR, New York Times",
              "requiredField": true
            },
            {
              "fieldLabel": "Focus Community",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "All Communities"
                  },
                  {
                    "option": "Women and Gender Equality"
                  },
                  {
                    "option": "LGBTQ+ Communities"
                  },
                  {
                    "option": "Racial and Ethnic Minorities"
                  },
                  {
                    "option": "People with Disabilities"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "21fa24fb-91ea-4d07-9950-6cfd08fc957d",
      "name": "Form Trigger On-Demand",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        -3088,
        2512
      ],
      "webhookId": "a4208184-44bf-48fc-8a9d-1889cf0ae6f0"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "media-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6067bebc-0a93-4b91-916c-853b25b00c51",
      "name": "Webhook Trigger API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3088,
        2688
      ],
      "webhookId": "media-agent-webhook"
    },
    {
      "parameters": {},
      "id": "f6ffb41e-ba51-4026-bbd8-b4025de56c0c",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3088,
        2848
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "company",
              "stringValue": "={{ $json.company ?? $json['Company Name'] ?? $json.body?.company ?? 'Al Jazeera English' }}"
            },
            {
              "name": "focus",
              "stringValue": "={{ $json.focus ?? ({'All Communities':'all','Women and Gender Equality':'women','LGBTQ+ Communities':'lgbtq','Racial and Ethnic Minorities':'race','People with Disabilities':'disability'})[$json['Focus Community']] ?? $json.body?.focus ?? 'all' }}"
            },
            {
              "name": "triggered_by",
              "stringValue": "={{ $json.triggered_by ?? ($json['Company Name'] ? 'form' : ($json.body ? 'webhook' : 'manual')) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eca082c5-e3db-490e-9b03-5b83131ad8e4",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -2608,
        2560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sparsely-apiaceous-aretha.ngrok-free.dev/research",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ company: $json.company, focus: $json.focus }) }}",
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 300000
        }
      },
      "onError": "continueErrorOutput",
      "id": "50f15288-461b-4d29-8d66-21cf3a4b2f0f",
      "name": "HTTP Request to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2368,
        2560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition_status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0e073f7e-c927-4642-94f6-2c17e29aa9ba",
      "name": "Check If Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2128,
        2560
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    const text = item.json.report_text || '';\n    const chunkSize = 1900;\n    const chunks = [];\n    for (let i = 0; i < text.length; i += chunkSize) {\n      chunks.push(text.slice(i, i + chunkSize));\n    }\n\n    // Parse overall_score from report_text if API didn't return it\n    let score = parseFloat(item.json.overall_score);\n    if (!score || isNaN(score)) {\n      const match = text.match(/Overall Average[\\s\\S]*?\\*\\*([\\d.]+)\\/10\\*\\*/);\n      score = match ? parseFloat(match[1]) : 0;\n    }\n\n    results.push({\n      json: {\n        ...item.json,\n        overall_score: score,\n        report_blocks: chunks\n      }\n    });\n  } catch (err) {\n    // On any parsing error, pass item through with safe defaults\n    results.push({\n      json: {\n        ...item.json,\n        overall_score: item.json.overall_score || 0,\n        report_blocks: [],\n        parse_error: err.message\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        2560
      ],
      "id": "1226ff2d-75db-4f89-b01d-641c655b8aef",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "status",
              "stringValue": "success"
            },
            {
              "name": "company",
              "stringValue": "={{ $('HTTP Request to FastAPI').first().json.company }}"
            },
            {
              "name": "overall_score",
              "stringValue": "={{ $json.overall_score }}"
            },
            {
              "name": "summary",
              "stringValue": "={{ $('HTTP Request to FastAPI').first().json.summary }}"
            },
            {
              "name": "report_path",
              "stringValue": "={{ $('HTTP Request to FastAPI').first().json.report_path }}"
            },
            {
              "name": "report_text",
              "stringValue": "={{ $('HTTP Request to FastAPI').first().json.report_text }}"
            },
            {
              "name": "harm_flags",
              "stringValue": "={{ $('HTTP Request to FastAPI').first().json.harm_flags?.join(', ') ?? 'None' }}"
            },
            {
              "name": "community_scores",
              "stringValue": "={{ JSON.stringify($('HTTP Request to FastAPI').first().json.community_scores ?? {}) }}"
            },
            {
              "name": "triggered_by",
              "stringValue": "={{ $('Prepare Input').first().json.triggered_by }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2104cf6b-52ab-4dca-b0c5-fb5fd4c3ae33",
      "name": "Success Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1688,
        2416
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "https://www.notion.so/312e754b0cde8060a11ced9ef95064b5?v=312e754b0cde80b9b5f3000cb68f33bc",
          "mode": "url"
        },
        "title": "={{ $json.company }} | Week {{ $now.format('W') }} {{ $now.format('yyyy') }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Score|number",
              "numberValue": "={{ Number($json.overall_score) }}"
            },
            {
              "key": "Date|date",
              "date": "={{ $now.toISO() }}"
            },
            {
              "key": "Status|select",
              "selectValue": "={{ $json.overall_score >= 7 ? 'Good Standing' : $json.overall_score >= 4 ? 'Needs Review' : 'Flagged for Action' }}"
            },
            {
              "key": "Summary|rich_text",
              "textContent": "={{ $json.summary }}"
            },
            {
              "key": "Harm Flags|rich_text",
              "textContent": "={{ $json.harm_flags }}"
            },
            {
              "key": "Community Scores|rich_text",
              "textContent": "={{ $json.community_scores }}"
            },
            {
              "key": "Triggered By|select",
              "selectValue": "={{ $json.triggered_by }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.report_text.slice(0, 1900) }}"
            },
            {
              "textContent": "={{ $json.report_text.slice(1900, 3800) }}"
            },
            {
              "textContent": "={{ $json.report_text.slice(3800, 5700) }}"
            },
            {
              "textContent": "={{ $json.report_text.slice(5700, 7600) }}"
            },
            {
              "textContent": "={{ $json.report_text.slice(7600, 9500) }}"
            },
            {
              "textContent": "={{ $json.report_text.slice(9500, 11400) }}"
            },
            {
              "textContent": "={{ $json.report_text.slice(11400, 13300) }}"
            },
            {
              "textContent": "={{ $json.report_text.slice(13300, 15200) }}"
            },
            {
              "textContent": "={{ $json.report_text.slice(15200, 17100) }}"
            }
          ]
        },
        "options": {}
      },
      "continueOnFail": true,
      "id": "adff55a5-4662-4700-bcd8-3a0143b796ce",
      "name": "Notion — Save Report",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -1448,
        2416
      ],
      "credentials": {
        "notionApi": {
          "id": "c91BcnJz3fVjfbRL",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "U0ABB09ARGR",
          "mode": "id"
        },
        "messageType": "text",
        "text": "={{ '📊 ' + $('Success Output').first().json.company + '\\nScore: ' + $('Success Output').first().json.overall_score + '/10' + '\\nStatus: ' + ($('Success Output').first().json.overall_score >= 7 ? 'Good Standing ✅' : $('Success Output').first().json.overall_score >= 4 ? 'Needs Review ⚠️' : 'Flagged for Action 🚨') + '\\nSummary: ' + $('Success Output').first().json.summary }}",
        "otherOptions": {}
      },
      "continueOnFail": true,
      "id": "a60feb4c-1314-43c7-869f-813a68e38556",
      "name": "Slack DM — Low Score Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        -968,
        2304
      ],
      "webhookId": "9c9782a5-94e8-4334-bed4-853594678667",
      "credentials": {
        "slackApi": {
          "id": "67HhwqtWYLHO1Zdm",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: $json.status, company: $json.company, overall_score: $json.overall_score, report_path: $json.report_path, notion_saved: true }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "8d0c9e9a-e3d6-47b7-b5d1-10183bbf976c",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -728,
        2416
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "status",
              "stringValue": "error"
            },
            {
              "name": "error",
              "stringValue": "={{ $('HTTP Request to FastAPI').first().json.error ?? 'Unknown error' }}"
            },
            {
              "name": "suggestion",
              "stringValue": "Check that run.py is running (python run.py) and ngrok is active pointing to port 8000"
            }
          ]
        },
        "options": {}
      },
      "id": "93557aef-1a29-42e7-9b6d-e77b5644f806",
      "name": "Error Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1888,
        2688
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', error: $json.error, suggestion: $json.suggestion }) }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "785378de-5cda-4520-8103-2569bc6c9734",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1648,
        2688
      ]
    }
  ],
  "pinData": {
    "Form Trigger On-Demand": [
      {
        "json": {
          "Company Name": "NPR",
          "Focus Community": "All Communities",
          "submittedAt": "2026-03-03T07:38:57.246Z",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger Monday 6am": {
      "main": [
        [
          {
            "node": "Split Into 4 Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into 4 Companies": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger On-Demand": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger API": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "HTTP Request to FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to FastAPI": {
      "main": [
        [
          {
            "node": "Check If Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Success": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Success Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Output": {
      "main": [
        [
          {
            "node": "Notion — Save Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion — Save Report": {
      "main": [
        [
          {
            "node": "Slack DM — Low Score Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack DM — Low Score Alert": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Output": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e15de7b8-5de3-42f6-909d-74da1116d653",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75d764fd58df4d133b8604d6d8e5b6b984a531d180635a1d40f14378725d6d76"
  },
  "id": "mrmXRs741488ymBj",
  "tags": [
    {
      "updatedAt": "2026-02-27T11:00:36.320Z",
      "createdAt": "2026-02-27T11:00:36.320Z",
      "id": "8oyt1SGERcQLqpmv",
      "name": "project-3"
    },
    {
      "updatedAt": "2026-02-27T11:00:36.283Z",
      "createdAt": "2026-02-27T11:00:36.283Z",
      "id": "XkcEoUSTp00I0JtA",
      "name": "media-agent"
    }
  ]
}
