Projects/Project4/CHEWS - Alert to Jira Ticket.json
{
  "name": "CHEWS - Alert to Jira Ticket",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client-health-alert",
        "options": {}
      },
      "id": "0993d878-0454-4f54-b551-f093138d3495",
      "name": "Webhook - Receive Health Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -784,
        112
      ],
      "webhookId": "a1118ec9-bcdd-4f49-97e2-003d2d91f48f"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c5ea47a4-e192-495f-989c-557d45dad7b4",
      "name": "Set Fields - Extract Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -528,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1b5ca7e8-a50b-43aa-b0a3-80d592cf0144",
              "leftValue": "={{ $json.healthScore }}",
              "rightValue": 40,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "78f549e7-818a-4d5c-804f-3e30b11d9c5c",
      "name": "IF - Check Score Is Red",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        112
      ]
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10033",
          "mode": "list",
          "cachedResultName": "Client Health and Early Warning System - SilverTrust"
        },
        "issueType": {
          "__rl": true,
          "value": "10036",
          "mode": "list",
          "cachedResultName": "Task"
        },
        "summary": "=CLIENT ALERT: {{ $json.clientName }} -- Health score dropped to {{ $json.healthScore }}",
        "additionalFields": {
          "description": "=CLIENT HEALTH ALERT\n-------------------\nClient: {{ $json.clientName }}\nClient ID: {{ $json.clientId }}\nCurrent Health Score: {{ $json.healthScore }} / 100  (RED ZONE -- below 40)\nSignal that triggered this alert: {{ $json.triggerSignal }}\nAssigned Account Manager: {{ $json.assignedAM }}\nAlert generated at: {{ $json.alertTimestamp }}\n\nRequired action (from US-02 acceptance criteria):\nContact this client within 1 business day.\nLog your intervention in Jira once completed.\n\nThis task was created automatically by the CHEWS n8n workflow.\nLinked to: Epic 2 - Early Warning and Alerts  |  User Story: US-02\n",
          "labels": "={{ [\"client-alert\",\"auto-generated\",\"us-02\"] }}"
        }
      },
      "id": "a41a2a95-422e-4f6a-996a-470f6666da82",
      "name": "Jira - Create Alert Task in CHEWS",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "qEeQ7b34QC6oplCK",
          "name": "Jira SW Cloud account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook - Receive Health Alert": [
      {
        "json": {
          "headers": {
            "host": "dina2.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "content-length": "271",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2003:102:3706:cf00:4858:177d:f1ed:b05b",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9db191bb5e1ac96e-AMS",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2003:102:3706:cf00:4858:177d:f1ed:b05b, 104.23.170.146",
            "x-forwarded-host": "dina2.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-39-7d8f9c97c5-vkx4s",
            "x-is-trusted": "yes",
            "x-real-ip": "2003:102:3706:cf00:4858:177d:f1ed:b05b"
          },
          "params": {},
          "query": {},
          "body": {
            "client_name": "Acme Fintech",
            "client_id": "CLT-007",
            "health_score": 28,
            "trigger_signal": "No email reply for 72 hours + 2 missed meetings in 30 days",
            "assigned_am": "marscha.thompson@silvertrust.com",
            "timestamp": "2026-03-10T08:00:00Z"
          },
          "webhookUrl": "https://dina2.app.n8n.cloud/webhook/client-health-alert",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook - Receive Health Alert": {
      "main": [
        [
          {
            "node": "Set Fields - Extract Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields - Extract Payload": {
      "main": [
        [
          {
            "node": "IF - Check Score Is Red",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Check Score Is Red": {
      "main": [
        [
          {
            "node": "Jira - Create Alert Task in CHEWS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jira - Create Alert Task in CHEWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ba99f9cc-69ba-4ea0-9e40-756d45f9b6a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4404fde0521d757a03ddb5eb10f513d99e37ae271f2829cb5bd1c1d6dc2c2f2"
  },
  "id": "RjfV93PNGNR1BEYD",
  "tags": [
    {
      "updatedAt": "2026-03-11T10:06:57.917Z",
      "createdAt": "2026-03-11T10:06:57.917Z",
      "id": "1f7IquBYL6GpptO3",
      "name": "CHEWS"
    },
    {
      "updatedAt": "2026-03-11T10:06:57.854Z",
      "createdAt": "2026-03-11T10:06:57.854Z",
      "id": "BvoQ2k52lvhNgugX",
      "name": "Lab3"
    },
    {
      "updatedAt": "2026-03-11T10:06:57.941Z",
      "createdAt": "2026-03-11T10:06:57.941Z",
      "id": "jdPVyQ4dsRJlNT3c",
      "name": "SilverTrust"
    },
    {
      "updatedAt": "2026-03-11T10:06:57.889Z",
      "createdAt": "2026-03-11T10:06:57.889Z",
      "id": "rPYj7SRSkRfuJf1i",
      "name": "Category-1"
    }
  ]
}